.items img { 
    width: auto;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;

}
body {
    background: white;
    font-family: Georgia;


}

.profile {
    align-items: right;
}

.country-name {
    padding: 20px 0px 5px 15px;

}
.alignment {
    width: 100%;

}

body::-webkit-scrollbar { 
    display: none; 
    }

.accordion-button {
    background-color: white;
    color: black;
}
.accordion{
    --bs-accordion-active-bg:#F8EBFF;

}

.navbar {
    background-color:#F2B79F;
}

.accordion-button:hover {
    background-color: #F8EBFF;
}

.navbar-brand:hover{
    background-color:#E1A68E;

}
.navbar-brand{
    padding: 5px;
    border-radius: 5px;
}
.nav-item {
    padding: 5px;
    border-radius: 5px;

}
.nav-item:hover{
    background-color:#E1A68E;
}

.scroll {
    margin-top: 20px;
    max-height: 300px;
    overflow-y:scroll;
    
} 
.scroll::-webkit-scrollbar{
    display:show;

}

h1{
 background-color: #F8EBFF;
}
